{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html>
 <head>
     <title>Beneath the Sea Scholarships</title>
</head>        
<style> 
.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
}

.div2 {
    width: 300px;
    height: 100px;    
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
}
</style>
<body>
<div class="container" role="main">

      <div class="row">
        <div class="col-md-4"><img src="{% static "apptrack/beneath_the_sea_logo.jpg" %}" width="50%" align="middle"/></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><img src="{% static "apptrack/sea_of_tomorrow_soc_logo.jpg" %}" align="middle" width="50%"/></div>
      </div>
{% block body %}
{% endblock %}
<footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
</footer>
</div>
</body>
</html>
